.form-container {
  margin: 20px;
  
}
.background {
  margin: 20px;
  background-color: green;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

label {
  margin-bottom: 10px;
}

input,
select {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4CAF50; 
  color: white;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #746f648a; 
  color: rgb(246, 53, 53);
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #918888;
}

.list-container {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

li a {
  margin-right: 10px;
}

.edit{
  margin-left: 20px;
}